[Unit]
Description=This service allows control of pc using mqtt connecting to Home Assistant
Documentation=https://github.com/muniter/hass_86/tree/master/scripts/pc_mqtt_control
After=networking.target

[Service]
# Command to execute at start
ExecStart=python3 /usr/bin/pc_mqttcontrol.py
EnvironmentFile=/etc/pc_mqttcontrol/env.app
User=muniter
# For using print statements instead of logger, should be removed soon
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
